name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get install pwgen
      - name: Install Erlang/OTP
        run: |
          OTP_VERSION="24.1.7-1"
          UBUNTU_RELEASE="focal"
          DEB_NAME="esl-erlang_${OTP_VERSION}~ubuntu~${UBUNTU_RELEASE}_amd64.deb"
          echo $DEB_NAME
          curl -f https://packages.erlang-solutions.com/erlang/debian/pool/$DEB_NAME -o $DEB_NAME
          sudo dpkg --install $DEB_NAME
      - name: Run tests
        run: make

      - name: Archive common test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: CT results
          path: _build/test/logs/**
          retention-days: 1
